.hero-section {
  margin-top: 90px;
  min-height: 70vh;
  @include flex-center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  max-width: 100%;
  max-width: 78rem;

  .hero-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
    }

    .hero-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      z-index: 20;

      .hero-logo {
        max-width: 250px;
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
      }

      h1 {
        font-family: $heading-font;
        font-size: 3.5rem;
        margin-bottom: 1rem;
        color: $primary-color;

        @media (max-width: 768px) {
          font-size: 2.5rem;
        }
        @media (max-width: 480px) {
          font-size: 2rem;
        }
      }
    }
  }

  .hero-banner {
    padding: 1rem;
    max-width: 60rem;
    z-index: 10;

    @media (max-width: 768px) {
      padding: 0;
      width: 80%;
    }
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    max-width: 800px;
    color: $light-text-color;

    @media (max-width: 768px) {
      font-size: 1rem; // Scale down paragraph text on smaller screens
      padding: 0 1rem; // Add horizontal padding for readability
    }
  }

  .btn-primary-hero {
    display: flex;
    align-items: center; // Ensure icon and text are aligned
    justify-content: center; // Center content if button is wider
    // Your existing button styles will come from the mixin
    // ...

    .new-tab-icon {
      padding: 0 0.5rem; // Padding on sides of the icon for spacing
      height: 1.2em; // Adjust icon size relative to font-size
      width: auto;
      vertical-align: middle;
      display: inline-block; // Ensures padding and height work as expected
    }
  }
}
