.legal-container {
  background-color: $dark-bg;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 78rem;
  border-radius: 30px;
  margin-top: 15rem;
  padding: 15px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  p {
    color: hsl(210, 4%, 65%);
  }
  h1 {
    margin: 1.5rem 0;
  }
  .legal-section {
    padding: 1px;
    margin: 1rem 0;

    h2 {
      margin: 1rem 0;
    }
    h3 {
      margin: 0.5rem 0;
    }

    li,
    ul,
    p {
      color: hsl(210, 4%, 65%);
    }
  }
}
