@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button-styles($bg-color, $text-color: white) {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease,
    border-color 0.3s ease;
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  i {
    margin-right: 8px;
  }

  &:hover {
    background-color: lighten($bg-color, 5%);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
