.content-section {
  position: relative;
  padding: 60px 2rem;
  margin-bottom: 30px;
  border-radius: 8px;
  margin: 20px auto;
  width: 100%;
  max-width: 78rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  h2 {
    font-family: $heading-font;
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    font-size: 1.1rem;
    color: $light-text-color;
    line-height: 1.5;
  }
  ul {
    .commands-container {
      display: flex;
      align-items: center;

      p {
        font-size: 1.5rem;
        margin: 1.5rem 0.25rem;
        color: $text-color;
      }

      .commands-icon {
        height: 40px;
        margin: 5px;
      }
    }

    li {
      font-size: 1rem;
      color: $light-text-color;
      margin: 0.25rem 0;
    }
  }
}
