@import "reset";
@import "variables";
@import "mixins";
@import "button";
@import "navbar";
@import "hero";
@import "sections";
@import "legal";
@import "footer";

body {
  font-family: $font-stack;
  line-height: 1.6;
  background-color: $light-bg;
  color: $text-color;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: $text-color;
}
